@font-face {
	font-family: 'Italiana';
	src: url('./font-files/Italiana-Regular/Italiana-Regular.woff')
		format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'UbuntuSans';
	src: url('./font-files/UbuntuSans/UbuntuSans-Regular.woff')
		format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'UbuntuSansBold';
	src: url('./font-files/UbuntuSans/UbuntuSans-Bold.woff')
		format('woff');
	font-weight: 600;
}