@font-face {
    font-family: 'Italiana';
    src: url('Italiana-Regular.woff2') format('woff2'), url('Italiana-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Regular.woff) format('woff2'), url(/fonts/UbuntuSans-Regular.woff) format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Thin.woff2) format('woff2'), url(/fonts/UbuntuSans-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-ThinItalic.woff2) format('woff2'), url(/fonts/UbuntuSans-ThinItalic.woff) format('woff');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Italic.woff2) format('woff2'), url(/fonts/UbuntuSans-Italic.woff) format('woff');
	font-weight: 1;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-ExtraLight.woff2) format('woff2'), url(/fonts/UbuntuSans-ExtraLight.woff) format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-ExtraLightItalic.woff2) format('woff2') url(/fonts/UbuntuSans-ExtraLightItalic.woff) format('woff');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Light.woff2) format('woff2') url(/fonts/UbuntuSans-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-LightItalic.woff2) format('woff2') url(/fonts/UbuntuSans-LightItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Regular.woff2) format('woff2'), url(/fonts/UbuntuSans-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Italic.woff2) format('woff2') url(/fonts/UbuntuSans-Italic.woff) format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Medium.woff2) format('woff2') url(/fonts/UbuntuSans-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-MediumItalic.woff2) format('woff2') url(/fonts/UbuntuSans-MediumItalic.woff) format('woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-SemiBold.woff2) format('woff2') url(/fonts/UbuntuSans-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-SemiBoldItalic.woff2) format('woff2') url(/fonts/UbuntuSans-SemiBoldItalic.woff) format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-Bold.woff2) format('woff2') url(/fonts/UbuntuSans-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-BoldItalic.woff2) format('woff2') url(/fonts/UbuntuSans-BoldItalic.woff) format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-ExtraBold.woff2) format('woff2') url(/fonts/UbuntuSans-ExtraBold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu Sans';
	src: url(/fonts/UbuntuSans-ExtraBoldItalic.woff2) format('woff2') url(/fonts/UbuntuSans-ExtraBoldItalic.woff) format('woff');
	font-weight: 800;
	font-style: italic;
}
