@import url('../../../fonts/font.scss');

.linkNoUnderline {
    text-decoration:none;    
    color: #000;
}

.nav {
    height: 80px;
    max-width: 100vw;
    background: #FF7A7A;
    font-family: "UbuntuSans";
    font-size: 18px;
    
}


.navFixed {
    position: fixed;
    top:0;
    left: 0;
    min-width: 100vw;

}

.navList {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    position: relative;

}

.dropdownButton {
    width: 100%;
    height: 80px;
    cursor: pointer;
    background-color: transparent;  
    border: none;
    font: inherit;

    
}


.navListRouter{
    min-width: 185px;
    max-width: 185px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;  

}

.subMenuList {
    background-color: #ff0000;
    max-width: 185px;
    padding: 0;
    min-width: 185px;
    display: none;
}

.subMenuListRouter {
    display: block;
    min-height: 35px;
    box-sizing: border-box;
    padding-top: 10px ;

}

.menuListRouter:hover {
    background: #c09696;
}


.navListRouter:hover .subMenuList {
    display: block;
}

.subMenuListRouter:hover {
    background-color: #FF7A7A;
}

.dropdownButton:hover {
    background: #c09696;

}
